#ignore build result
*~
._*
*.o
Books
Books.app
Books-*.zip
Books-*.tbz
*.d
#ignore vim files
*.swp
#ignore tag files
tags
.tb.*.tags
#miscelaneous scratch files
Dimmensions.ods
obj
Info.plist
repo.xml
.DS*
